<div class="table">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Age</th>
          <th>Basic Salary</th>
          <th>City</th>
          <th>Province</th>
          <th>Zip Code</th>
          <th>Payment Deadline</th>
          <th>Action</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataTable,  let idx = index" 
        [ngStyle]="{
          'text-decoration':item.isChecked?'line-through':''}">
          <!-- , 'backgroundColor':isDeadline(item.paymentDeadline)?'red':''
          , 'color':isDeadline(item.paymentDeadline)?'white':'black'}"> -->
          <td>{{idx+1}}</td>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td>{{item.age}}</td>
          <td>{{item.basicSalary}}</td>
          <td>{{item.city}}</td>
          <td>{{item.province}}</td>
          <td>{{item.zipcode}}</td>
          <td>{{item.paymentDeadline |  date}}</td>
          <td>
            <a (click)="deleteData(item.id)">
              <img src="https://img.icons8.com/?size=48&id=7837&format=png" width="20" height="20">
            </a>
          </td>
          <td><input type="checkbox" [(ngModel)]="item.isChecked" (change)="checkCompleted(idx, item.isChecked)"></td>
        </tr>
      </tbody>
    </table>
    <!-- <p class="no-data" *ngIf="dataTable.length===0">There is no data</p> -->
</div>