<div class="table">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Payment Deadline</th>
          <th>Action</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataTable,  let idx = index" [ngStyle]="{'text-decoration':item.isCompleted?'line-through':'', 'backgroundColor':isDeadline(item.paymentDeadline)?'red':'', 'color':isDeadline(item.paymentDeadline)?'white':'black'}">
          <td>{{idx+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.address.city}}, {{item.address.province}}, {{item.address.zipCode}}</td>
          <td>{{item.paymentDeadline |  date}}</td>
          <td>
            <a (click)="deleteData(idx)">
              <img src="https://img.icons8.com/?size=48&id=7837&format=png" width="20" height="20">
            </a>
          </td>
          <td><input type="checkbox" [(ngModel)]="item.isCompleted" (change)="checkCompleted(idx, item.isCompleted)"></td>
        </tr>
      </tbody>
    </table>
    <p class="no-data" *ngIf="dataTable.length===0">There is no data</p>
</div>