td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-button{
    margin-bottom: 10px;
}