<button (click)="onSubmit()">click</button>
<div class="shown" *ngIf="isShown;else shownFalse">muncul</div>
<div class="shown" *ngIf="!isShown">muncul ketika false</div>
<ng-template #shownFalse>
  <p>false untuk ng template</p>
</ng-template>
<p [ngStyle]="{color: isShown ? 'green' : 'red'}">Default</p>

<ul>
  <li *ngFor="let data of dataUser.address">
    {{data.city}}
    {{data.district}}
    {{data.province}}
    <div [ngSwitch]="data.zone">
      <div *ngSwitchCase="1" [ngStyle]="{color: data.zone === 1 ? 'red' :  'yellow'}">output1</div>
      <div *ngSwitchCase="2" [ngClass]="{'zone-safe': data.zone === 2}">output2</div>
      <div *ngSwitchCase="3" [ngClass]="data.zone === 3 ? 'zone-green' : 'zone-safe'">output3</div>
      <div *ngSwitchDefault>output</div>
    </div>
  </li>
</ul>

<p>{{'12' | currency:'USD'}}</p>
<p>{{'bryan' | reserve | uppercase}}</p>
<p>{{'bryan' | uppercase}}</p>
<p>{{'bryan' | lowercase}}</p>
<p>{{today | date}}</p>