<div class="title">
    <h1>Form Input Table</h1>
</div>
<div class="form">
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit($event)">
        <div class="form-name">
            <input id="name" formControlName="name" placeholder="Input your name"/>
            <div class="validation-error" *ngIf="nameForm?.errors?.['required']">
                name must be required
            </div>
            <div class="validation-error" *ngIf="nameForm?.errors?.['minlength']">
                character min 3
            </div>
        </div>
        <br>
        <div class="form-email">
            <input id="email" formControlName="email" placeholder="Input your email"/>
            <div class="validation-error" *ngIf="emailForm?.errors?.['required']">
                email must be required
            </div>
            <div class="validation-error" *ngIf="emailForm?.errors?.['email']">
                email must valid
            </div>
        </div>
        <br>
        <div class="form-city">
            <input id="city" formControlName="city" placeholder="Input your city"/>
            <div class="validation-error" *ngIf="cityForm?.errors?.['required']">
                city must be required
            </div>
        </div>
        <br>
        <div class="form-province">
            <input id="province" formControlName="province" placeholder="Input your province"/>
            <div class="validation-error" *ngIf="provinceForm?.errors?.['required']">
                province must be required
            </div>
        </div>
        <br>
        <div class="form-zip-code">
            <input id="zipCode" type="number" formControlName="zipCode" placeholder="Input your zip code"/>
            <div class="validation-error" *ngIf="zipCodeForm?.errors?.['required']">
                zip code must be required
            </div>
        </div>
        <br>
        <div class="button">
            <button type="submit" [disabled]="addUserForm.invalid">Submit</button>
        </div>
    </form>
</div>
<br><br>