<form [formGroup]="addUserForm" (ngSubmit)="onSubmit($event)">
    <input id="name" formControlName="name" placeholder="Input your name"/>
    <div class="validation-error" *ngIf="nameForm?.errors?.['required']">
        name must be required
    </div>
    <div class="validation-error" *ngIf="nameForm?.errors?.['minlength']">
        character min 3
    </div>
    <br><br>
    <input id="email" formControlName="email" placeholder="Input your email"/>
    <div class="validation-error" *ngIf="emailForm?.errors?.['required']">
        email must be required
    </div>
    <div class="validation-error" *ngIf="emailForm?.errors?.['email']">
        email must valid
    </div>
    <br><br>
    <input id="city" formControlName="city" placeholder="Input your city"/>
    <div class="validation-error" *ngIf="cityForm?.errors?.['required']">
        city must be required
    </div>
    <br><br>
    <input id="province" formControlName="province" placeholder="Input your province"/>
    <div class="validation-error" *ngIf="provinceForm?.errors?.['required']">
        province must be required
    </div>
    <br><br>
    <input id="zipCode" formControlName="zipCode" placeholder="Input your zip code"/>
    <div class="validation-error" *ngIf="zipCodeForm?.errors?.['required']">
        zip code must be required
    </div>
    <br><br>
    <button type="submit" [disabled]="addUserForm.invalid">Submit</button>
</form>